<app-navbar-plantilla [empresa]="empresa"></app-navbar-plantilla>

<app-header-plantilla *ngIf="header" [header]="header"></app-header-plantilla>

<app-imagen-plantilla *ngIf="imagen" [imagen]="imagen"></app-imagen-plantilla>

<app-menu-plantilla (paginaSeleccionada)="paginaSeleccionada($event)"></app-menu-plantilla>

<app-galeria-plantilla *ngIf="galeria" [galeria]="galeria"></app-galeria-plantilla>

<app-login-plantilla *ngIf="login" [login]="login"></app-login-plantilla>

<app-download *ngIf="download" [download]="download"></app-download>