<h3>Paginas</h3>
<button style="margin-bottom: 15px;" type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
    data-target="#exampleModal">
    Agregar
</button>

<div *ngIf="mensaje"  class="alert alert-{{ alert }} alert-dismissible fade show" role="alert">
  <strong>{{ mensaje }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="sitios.length == 0" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>



<table *ngIf="sitios.length > 0" class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of sitios">
            <th scope="row">1</th>
            <td>{{item.titulo}}</td>
            <td>{{item.descripcion}}</td>
            <td> <button (click)="eliminarSitio(item._id)" class="btn btn-danger btn-sm">Eliminar</button> </td>
            <td> <a [routerLink]="['/admin-companies/'+ empresa._id + '/pages/' + item._id ]" 
                class="btn btn-success btn-sm">Editar</a> </td>
        </tr> 
    </tbody>
</table>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Sitio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Titulo del sitio</label>
                        <input [(ngModel)]="sitio.titulo" type="text" class="form-control" placeholder="Titulo del sitio">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Descripcion</label>
                        <input [(ngModel)]="sitio.descripcion" type="text" class="form-control" placeholder="Descripcion">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Palabras Claves</label>
                        <input [(ngModel)]="sitio.palabrasClaves" type="text" class="form-control" placeholder="Palabras Claves">
                    </div>
                    
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [(ngModel)]="sitio.navbar" required>
                          <label class="form-check-label" for="invalidCheck2">
                            Navbar
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox"  [(ngModel)]="sitio.footer"required>
                          <label class="form-check-label" for="invalidCheck2">
                            Footer
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [(ngModel)]="sitio.paginaPrincipal"  required>
                          <label class="form-check-label" for="invalidCheck2">
                            Pagina Principal
                          </label>
                        </div>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button"  (click)="guardarSitio()"
                 class="btn btn-primary btn-sm" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>