<nav  style="background-color: #009688; height: 100%;" id="sidebar">
      
  <div  class="p-4 pt-5">
    <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../../../assets/img/logo.png);width: 162px; height: 126px; border-radius: 0px!important;"></a>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        
      </li>
      <li>
        <a [routerLink]="['/empresa/productos']"  routerLinkActive="active" >Productos</a>
      </li>
      <li>
        <a [routerLink]="['/empresa/sitios']"  routerLinkActive="active" >Paginas</a>
      </li>
      <li>
        <a [routerLink]="['/empresa/categoria']"  routerLinkActive="active" >Categoria</a>
      </li>
      <li>
        <a [routerLink]="['/empresa/galeria']"  routerLinkActive="active" >Galeria</a>
      </li>
      <li>
        <a [routerLink]="['/empresa/videos']"  routerLinkActive="active" >Videos</a>
      </li>
      <li>
        <a [routerLink]="['/empresa/documentos']"  routerLinkActive="active" >Documentos</a>
      </li>
     
    </ul>
  </div>
</nav>
