<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example" style="float: right !important;">
        <button (click)=" editando=true" type="button" class="btn btn-secondary">Editar</button>
        <button (click)="obtenerData()" type="button" class="btn btn-secondary">Ver</button>
        <button (click)=" editando=false" type="button" class="btn btn-secondary">Guardar</button>
    </div>
</div>

<br> <i class="fab fa-500px"></i><br>

<div class="container mb-2" *ngIf="!editando">
    <app-header-plantilla></app-header-plantilla>
</div>


<div *ngIf="editando" class="container mt-2 mb-2 p-2">
    <ckeditor [editor]="Editor" [(ngModel)]="model.editorData"></ckeditor>
</div>