<div style="margin-right:8px ;" class="row morgan">
  <div
    style="background-image: url(../../../assets/img/log.jpg);background-position: center center ; background-repeat: no-repeat ; background-size:cover; height: 657px;"
    class=" col-8 md-4 sm-2">

  </div>
  <div style="padding-top: 10px;" class="col-4 md-2 ">

    <div class="login-box">
      <img style="width: 296px; height: 231px; border-radius: 50px;" src="../../../assets/img/logo.png">
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username">
      </div>

      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password">
      </div>
      <div style="color: #2ecece;" class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <input type="button" class="btn" value="Sign in">
    </div>
  </div>


</div>