<nav style=" background-color: #2ECECE !important;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a style="padding-right: 43px; color: aliceblue;" class="navbar-brand m-2" href="#">Morgan's Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li style=" padding-top: 5px;" class="nav-item">
                <i style="color: dimgray;" class="fas fa-shopping-cart mr-sm-2 pt-2"> Cesta</i>
            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item dropdown">
                <a style="color: dimgray;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Productos comprados</a>
                    <a class="dropdown-item" href="#">Pendientes de pago</a>
                    <a class="dropdown-item" href="#">Lista de deseos</a>
                </div>
            </li>
            <li>
                <div>
                    <a style="margin-left: 861px; margin-top: 9px; background-color: gray; color: honeydew;"
                        class="btn btn-sm btn-outline-secondary" href="#">Cerrar Sesion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div style="margin-left: -75px;" class="col-2 p-0">
            <img class="img-fluid rounded-circle" style=" padding-bottom: 10px; width: 166px; height: 176px;"
                src="{{fotoPerfil}}">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button data-toggle="modal" data-target="#botonSubirFoto" class="btn btn-sm btn-secondary"
                    type="button">Cambiar foto de perfil</button>
            </div>
        </div>
        <div class="col-4">
            <p>Nombre : <span>{{nombre}}</span> </p>
            <p>Direccion de email : <span>{{correo}}</span></p>
            <p>Sexo : <span>{{sexo}}</span> </p>
        </div>


        <div class="col-6">
            <h4>Carrito de Productos</h4>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Calificacion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let item of productos">

                        <th scope="row">
                            <img width="60px" height="50px" src="{{item.urlImagen}}" alt=""> </th>
                        <td>{{item.nombre}}</td>
                        <td>{{item.calificacion}}</td>
                        <td>{{item.precio}}</td>
                        <td> 
                            <button (click)="eliminarProducto(item._id)" class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--Modal--->

<div class="modal fade" id="botonSubirFoto" tabindex="-1" role="dialog" aria-labelledby="botonSubirFotoLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="botonSubirFotoLabel">Nueva foto de perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <input type="file" (change)="subirImagen($event)" name="archivo" class="d-none" #input>
                        <img (click)="input.click()" style="width: 90px; height: 63px; margin-left: 170px;"
                            src="../../../assets/img/upload.png"></div>
                    <div style="margin-left: 170px">Subir Foto</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>