<h3>Documentos</h3>

<div class="container">
    <div class="row">
        <div class="col "> 
            <img class="img-fluid" src="https://st2.depositphotos.com/4191945/7819/v/950/depositphotos_78192134-stock-illustration-vector-document-file-logo.jpg" alt="">
            <h6 style="margin-left: 100px;">Informe</h6>
        </div>
        <div class="col "> 
            <img class="img-fluid" src="https://st2.depositphotos.com/4191945/7819/v/950/depositphotos_78192134-stock-illustration-vector-document-file-logo.jpg" alt="">
            <h6 style="margin-left: 100px;">Informe de mes</h6>
        </div>
        <div class="col "> 
            <img class="img-fluid" src="https://st2.depositphotos.com/4191945/7819/v/950/depositphotos_78192134-stock-illustration-vector-document-file-logo.jpg" alt="">
            <h6 style="margin-left: 100px;">Novedades</h6>
        </div>
    </div>
</div>